#loading {
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #0d1117;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: fadeOut 2s linear forwards;
	animation-delay: 5s;
}

#loadModal {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	transform: scaleY(0);
	animation: showUp 1s 500ms ease forwards;
}

.bar {
	width: 20px;
	height: 20px;
	background-color: white;
	animation: scaleY 1.75s infinite ease-in-out;
	animation-delay: calc(var(--n) * 200ms);
}

@keyframes showUp {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
@keyframes scaleY {
	0% {
		height: 20px;
	}
	50% {
		height: 80px;
	}
	100% {
		height: 20px;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
