@import url(./font.css);
@import url(./theme.css);
@import url(./headCommand.css);
@import url(./loader.css);

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	overflow-x: hidden;
}

a {
	color: var(--folderBackgroundColor);
	padding: 1px 5px;
}
a:hover {
	background: var(--folderBackgroundColor);
	color: white;
}

#userInputBig {
	position: absolute;
	left: -1000px;
}

#cursor {
	position: absolute;
	z-index: 1000;
	width: 0.8em;
	height: 21px;
	/* background-color: white; */
	animation: blinking 700ms infinite;
}

.command {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing 1s forwards;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-fill-mode: forwards;
}

.command.error {
	color: var(--fontErrorColor);
}

b.command {
	margin: 20px 0px 5px 20px;
	display: block;
}

p.command {
	margin: 5px 40px;
}

@keyframes blinking {
	to {
		opacity: 0;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
